body {
    font-family: sans-serif;
    font-family: Roboto;
}

* {
    margin: 0;
    padding: 0;
    }

.paragraph {
   font-size: 16px;  
   line-height: 26px;
   color: #1F3F68;
opacity: 0.6;
}

.paragraph__top {
width: 425px;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #1F3F68;
opacity: 0.6;
}
.top__button {
background: #5A98D0;
box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
border-radius: 10px;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
padding: 15px 50px;
display: inline-block;
margin-top: 71px;
}
.top__info a {
    text-decoration: none;
}

.project__img {
    /* Картинка занимает весь блок */
    width: 100%;
    border-radius: 10px;
}
.project__item {
    position: relative;
    /* Занимают все свободное место */
    flex-grow: 1;
    margin-right: 32px;
}
.project__text {
    font-size: 32px;
line-height: 46px;
text-align: right;
letter-spacing: 0.05em;
color: #FFFFFF;
position: absolute;
top: 64px;
right: 64px;
}
.project__text2 {
    font-size: 28px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px; 
    right: auto;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

}

.paragraph__project {
    font-size: 16px;  
    line-height: 26px;
    color: #222222;   
}
.text__project {
    /* 75% от родительского элемента занимает */
    width: 75%;
    /* Сверху 32рх cправа/слева авто снизу 64рх */
    margin: 32px auto 64px;
    color: #222222;
    font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.05em;
opacity: 1;

} 
.headingh1 {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}
.headingh2 {
   font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.headingh3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
        color: #000000;
   
}
.headingh4 {
font-size: 20px;
line-height: 30px;
letter-spacing: 0.05em;
color: #1F3F68;
margin-bottom: 14px;
}
.card__link {
font-size: 14px;
line-height: 30px;
letter-spacing: 0.05em;
color: #5A98D0;
text-decoration: none;
}

.information {
border: 1px solid #356EAD;
box-sizing: border-box; /* Ширина блока с полями */
border-radius: 10px; /* Скругление границы блока */
opacity: 0.4; /* Непрозрачность */
}

.button {
   background: #5A98D0;
box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2); /* тень блока */
border-radius: 10px;
font-weight: 500;
font-size: 16px;
line-height: 26px; /* Ширина между строк */
text-align: center;
color: #FFFFFF;
text-transform: uppercase; /* Все буквы заглавные */
}

.container { 
    max-width: 1140px; 
    margin: 0 auto; 
}
.top__box {
    display: flex;
    /* Все возвращает на свои места */
   flex-direction: column; 
 height: 100%;
}
.top {
    min-height: 768px;
    background: linear-gradient(0deg, 
    #EBF3FB 8.84%,
     rgba(152, 195, 232, 0) 
     31.12%);
}
.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/illustration.png);
    background-repeat: no-repeat;
    /* Смещение картинки вправо и выравнивание по центру */
    background-position: right center;
    /* Для адаптации под планшет */
    background-size: 44%;


}
.what-we-do {
    padding-top: 64px;
}
.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}
.card {
    width: 359px;
    padding: 44px 32px;
    /* Элементы ширины зафиксированы, поэтому
    используется box-sizing: border; чтобы 
    блоки не поплыли */
    box-sizing: border-box;
    background: #FFFFFF;
box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
border-radius: 10px;
display: flex;
/* Расположение в колонку */
flex-direction: column;
}
.card__img {
    /* Выравнить элемент по центру */
    align-self: center;
    margin-bottom: 51px;
}
.paragraph__card {
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #1F3F68;
opacity: 0.6;
}
.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer__text {
    width: 495px;
}
.footer__heading3 {
    width: 340px;
    color: #FFFFFF;
    font-family: Roboto;
    padding-top: 91px;
    padding-left: 113px;
    padding-bottom: 32px;
    text-align: left;
    margin-bottom: 32px;
}
.paragraph__footer {
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #FFFFFF;
padding-left: 113px;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
font-size: 16px;
margin-top: 64px;
}
.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
}
.footer__top a {
    text-decoration: none;
}

.footer__list {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    /* Создаем размер базвый, чтобы все блоки занимали разный размер */
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}
.footer__copy {
    margin-top: 64px;
}

.main {
    display: flex;
}
/* .header {
    display:flex;
    justify-content: space-between;
    list-style-type: none; /* Убираем маркеры */
    /* padding-top: 42px; */
/* } */ */
.footer__top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__bottom {
    background: #316099;   
    padding-left: 113px;
}

.paragraph__end {
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #FFFFFF;
opacity: 0.4;
}

hr {
    opacity: 0.4;
}
@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;;
    }
.top__info {
    background-position: right 280px;
}
.card-box {
    flex-direction: column;
    align-items: center;
}
.card {
    margin-bottom: 32px;
}
.headingh3 {
    padding-top: 47px;
}
.footer__info {
    flex-direction: column;
    display: flex;
}
}

/* Медиа запрос под мобильный телефон  */
@media (max-width: 667px) {
    .header {
        padding-top: 24px;
    }
    .top {
        /* Высота стоит минимальная на мобильной версии */
        min-height: 376px;
        padding-bottom: 41px;
        /* Чтобы padding-bottom не сделал высоту больше, добавляю border-box */
    box-sizing: border-box;
    }
    .top__info {
        padding-top: 36px;
        /* Чтобы элементы встали друг за другом */
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
   .headingh1 {
       /* Ширина 100%, чтобы было на весь экран */
       width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
   }
   .paragraph__top { 
       /* Ширина для параграфа 100% */
    width: 100%;
    text-align: center;
    }
  
    .top__button {
        font-size: 12px;
line-height: 26px;
padding: 0 8px;
    }
.headingh4 {
    font-size: 24px;
line-height: 28px;
}
.what-we-do {
    padding-top: 48px;
}
.card-box {
    padding-top: 32px;
}
.card {
    /* Для гибкости блока */
    width: 100%;
}
.text__project {
    font-size: 24px;
line-height: 28px;
width: 100%;
}

.project__text {
    font-size: 16px;
line-height: 19px;
top: 16px;
right: 16px;
}
.project__text2 {
    left: 16px;
    font-size: 16px;
line-height: 19px;

}
.project__item {
    flex-direction: column;
}
.project__parent {
    flex-direction: column;
    margin-top: 16px;
}
.project__item {
    margin: 0;
    margin-bottom: 16px;
}
.paragraph__end {
text-align: center;
}
.footer__info {
    flex-direction: column;
    display: flex;
}
.footer__top {
    flex-direction: column;
}
.footer__button {
    margin-bottom: 40px;
}
}