@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  font-family: 'Lato', sans-serif;
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  /* сбрасываем все дефолтные отступы */
}

.container {
  /* добавляем еще 20рх, чтобы добавить внутренние отступы и не было прижатости элементов к краям блока */
  max-width: 1160px;
  padding: 0 10px;
  /* центровка блока */
  margin: 0 auto;
  /* Чтобы блок не увеличивал размеры */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-color: #222222;
  /* отступ элементам снизу сверху 10, справа слева 0 */
  padding: 19px 0;
}

.header__wrap {
  /* устанавливаем расположение иконок */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 41px;
}

.header__item {
  display: inline-block;
  cursor: pointer;
}

.header__item:not(:last-child) {
  /* всем кроме последнего элемента отступ справа 33рхп*/
  margin-right: 33px;
}

.breadcrumbs {
  /* height: 148px; */
  background: #F8F3F4;
  padding: 60px 0;
}

.breadcrumbs__left {
  /* width: 194px;
 height: 29px; */
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.cards__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 96px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 128px;
}

.cards__card {
  width: 652px;
  height: 306px;
  -webkit-box-shadow: 5px 17px 15px 2px rgba(0, 0, 0, 0.13);
          box-shadow: 5px 17px 15px 2px rgba(0, 0, 0, 0.13);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.cards__img img {
  width: 262px;
  height: 306px;
}

.cards__text {
  padding-top: 22px;
  padding-left: 31px;
}

.cards__form {
  width: 360px;
  height: 272px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cards__price {
  width: 360px;
  height: 214px;
  background: #F5F3F3;
}

.cards__price_sub {
  height: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #4A4A4A;
  padding-top: 32px;
  padding-right: 34px;
  padding-bottom: 12px;
}

.cards__price_grand {
  height: 19px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #222222;
  padding-right: 37px;
  padding-bottom: 39px;
}

.cards__price_line {
  background: #E2E2E2;
  width: 275px;
  margin: 0 auto;
}

.cards__price_red {
  color: #F16D7F;
  padding-left: 12px;
}

.cards__price_black {
  padding-left: 12px;
}

.cards__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 262px;
  height: 58px;
  padding-bottom: 42px;
}

.cards__title_adres {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
  width: 135px;
  height: 19px;
}

.cards__info {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cards__info:not(:last-child) {
  /* всем кроме последнего элемента нижний паддинг 6*/
  padding-bottom: 6px;
}

.cards__info_decor {
  color: #F16D7F;
}

.cards__info_close img {
  width: 18px;
  height: 18px;
  padding-top: 28px;
  padding-right: 22px;
  padding-left: 57px;
}

.cards__info_btn_size {
  width: 43px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  background-color: transparent;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
}

.cards__field {
  width: 360px;
  height: 45px;
  margin-bottom: 21px;
  padding-left: 20px;
}

.cards__field :placeholder {
  color: red;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cards__btn {
  background-color: transparent;
  border: 1px solid #A4A4A4;
  width: 100px;
  height: 35px;
  padding: 10px 3px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cards__btn_pink {
  background: #F16D7F;
  border: none;
  width: 273px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.cards__btn_pink_text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
}

.cards__button {
  height: 50px;
  width: 652px;
}

.cards__button__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__button_clear {
  width: 235px;
  background-color: transparent;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 0;
  color: #000000;
}

.cards__button_continue {
  width: 235px;
  background-color: transparent;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 0;
  color: #000000;
}

.aside {
  background: #222224;
  height: 341px;
}

.aside__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 103px;
}

.aside__box {
  width: 360px;
  height: 134px;
  color: #FBFBFB;
}

.aside__h4 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  padding-bottom: 16px;
  color: #FBFBFB;
  padding-top: 28px;
}

.aside__p {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
}

.aside__box img {
  /* выравнивание картинки по центру блока */
  /*  элемент делаем блочным */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-image: url(img/footertop.png);
  background-repeat: no-repeat;
  /* растягиваем картинку на весь экран - делаем резиновую */
  background-size: 100%;
  /*  затемнение картинки */
  background-blend-mode: screen;
  background-color: rgba(244, 244, 244, 0.7);
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 49px;
}

.footer__top {
  width: 1600px;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.footer__left {
  width: 360px;
  height: 250px;
  text-align: center;
}

.footer__right {
  width: 557px;
  height: 142px;
}

.footer__right__p {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

.footer__right__decor {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 12px;
}

.footer__left__p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.footer__left img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
}

.footer__input {
  border-radius: 50px 0 0 50px;
  border: 0px;
  background-color: #E1E1E1;
  padding: 7px 64px 6px 22px;
}

.footer__button {
  border-radius: 0 50px 50px 0;
  background: #F16D7F;
  color: #FFFFFF;
  border: 0px;
  width: 100px;
}

.footer__bottom {
  height: 79px;
  /* width: 1600px; */
  background: #222224;
}

.copyright {
  height: 19px;
  width: 329px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.copyright p {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  font-style: normal;
  font-weight: normal;
}

.footer__bottom__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon {
  padding-top: 24px;
  padding-bottom: 23px;
}

.icon__link {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 14px;
  padding: 8px;
  margin: 7px;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  text-decoration: none;
}

/* При наведении на класс с иконками - смена цвета */
.icon__link:hover {
  color: #fff;
  background-color: #F16D7F;
}
/*# sourceMappingURL=card.css.map */