.breadcrumbs {
    /* height: 148px; */
    background: #F8F3F4;
    padding: 60px 0;

    &__left {
/* width: 194px;
 height: 29px; */
 font-style: normal;
 font-weight: normal;
 font-size: 24px;
 line-height: 29px;
 color: #F16D7F;
    }
}